<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Literatura</title>
  <script src="https://kit.fontawesome.com/46ca99fbcf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/clase.css">
</head>

<body>
  <div class="main">
    <div class="row h-100">
      <div class="col-2 menu-bar">
        <div class="mt-3 mx-3">
          <a href="/horario"><i class="fas fa-arrow-left"></i> Regresar</a>
        </div>
        <div class="title text-center">
          <h2>Literatura</h2>
        </div>
        <div class="menu-content">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#videos-tab" role="tab" aria-controls="v-pills-profile" aria-selected="false">Videos</a>
            <!-- <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#menuprincipal-tab" role="tab" aria-controls="v-pills-home" aria-selected="true">Menu Principal</a> -->
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#discusiones-tab" role="tab" aria-controls="v-pills-messages" aria-selected="false">Gestion en Clase</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#cuestionarios-tab" role="tab" aria-controls="v-pills-settings" aria-selected="false">Cuestionarios</a>
          </div>
        </div>
      </div>
      <div class="col-10 info">
        <div class="tab-content">
          <!-- ======== Principal =============== -->
          <div class="tab-pane fade" id="menuprincipal-tab" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="title">
              <h1>Menu Principal</h1>
            </div>
          </div>

          <!-- ======== Videos =============== -->
          <div class="tab-pane fade show active" id="videos-tab" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="title">
              <h1>Videos</h1>
            </div>
            <div class="container contenido">
              <ul class="list-group list-group-flush mt-3">
                <div>
                  <a data-toggle="collapse" href="#video1" href="#" class="list-group-item list-group-item-action">
                    <div class="d-inline mr-5">
                      Resumen de "El Principito"
                    </div>
                    <div class="d-inline mr-5 ml-5">
                      |
                    </div>
                    <div class="d-inline ml-5">
                      Abril 3 2020
                    </div>
                  </a>
                  <div class="collapse" id="video1">
                    <div>
                      <div class="row">
                        <div class="col">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/T2obhDBouHY" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col">
                          <div class="video-comments py-2">
                            <h4 my-2>Comentarios del profesor</h4>
                            <p>Por favor, mira el video acerca del libro El Principito. No olvides revisar Gestion en Clase para participar!</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </ul>
            </div>
          </div>

          <!-- ======= Discusiones ========= -->
          <div class="tab-pane fade h-100" id="discusiones-tab" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="title">
              <h1>Gestion en Clase</h1>
            </div>
            <div style="height: 85%">
              <div class="row h-100 my-4">
                <div class="col-3">
                  <h4 style="border-bottom: 1px solid">Tema</h4>
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">El Principito</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Tema 2</a>
                  </div>
                </div>
                <div class="col-9">
                  <h4 style="border-bottom: 1px solid">Conversacion</h4>
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <div class="conversaciones">
                        <div id="conversaciones-cards">
                          <div class="card text-white bg-success mr-5 mb-3">
                            <div class="card-header">
                              Profesor Chavez
                            </div>
                            <div class="card-body">
                              <p class="card-text">Que es lo que mas les gustó de "El Principito"?</p>
                            </div>
                          </div>
                        </div>

                        <div class="respuesta">
                          <textarea id="discusion-input" name="name" rows="5" cols="60"></textarea>
                          <br>
                          <button id="discusion-submit" class="btn btn-primary" type="button" name="button">Enviar</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ======= Cuestionarios ====== -->
          <div class="tab-pane fade" id="cuestionarios-tab" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="title">
              <h1>Cuestionarios</h1>
            </div>
            <div class="container contenido my-3">
              <ul class="list-group list-group-flush">
                <a href="#" data-toggle="modal" data-target="#exampleModalLong" class="list-group-item d-flex justify-content-between align-items-center">
                  Cuestionario 1 - El Principito
                  <span id="nota" class="badge">Pendiente</span>
                </a>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Pregunta 1: ¿El principito visitó la tierra de forma intencional?</h5>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Si
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              No
            </label>
          </div>

          <br>
          <h5>¿Qué animal le pidió El Principito al aviador que le dibuje?</h5>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios3" value="option1" checked>
            <label class="form-check-label" for="exampleRadios3">
              Un zorro
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios4" value="option2">
            <label class="form-check-label" for="exampleRadios4">
              Un elefante dentro de una boa
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios5" value="option2">
            <label class="form-check-label" for="exampleRadios5">
              Un gato
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios6" value="option2">
            <label class="form-check-label" for="exampleRadios6">
              Un cordero
            </label>
          </div>

          <br>
          <h5>¿Por qué El Principito no logró convivir con más personas?</h5>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios7" value="option1" checked>
            <label class="form-check-label" for="exampleRadios7">
              Porque no le gustaba la compañía
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios8" value="option2">
            <label class="form-check-label" for="exampleRadios8">
              Porque los demás vivian inmersos en ellos mismos.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios9" value="option2">
            <label class="form-check-label" for="exampleRadios9">
              Porque era aburrido
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios10" value="option2">
            <label class="form-check-label" for="exampleRadios10">
              Porque no le gustaba como dibujaban
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios11" value="option2">
            <label class="form-check-label" for="exampleRadios11">
              Porque siempre quiso llegar al planeta tierra.
            </label>
          </div>

          <br>
          <h5>¿Qué era lo que más valoraba El Principito?</h5>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios12" value="option1" checked>
            <label class="form-check-label" for="exampleRadios12">
              El arte
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios13" value="option2">
            <label class="form-check-label" for="exampleRadios13">
              La familia
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios14" value="option2">
            <label class="form-check-label" for="exampleRadios14">
              Una flor
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios15" value="option2">
            <label class="form-check-label" for="exampleRadios15">
              Viajar por el universo
            </label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button id="myModal" type="button" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert Modal -->
  <div class="modal fade" id="Sucess-alert-modal" tabindex="-1" role="dialog" aria-labelledby="Sucess-alert-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Excelente!</h4>
        <p>Has completado el cuestionario con una nota sobresaliente!</p>
        <p id="notaSucess">Tu nota es: </p>
        <hr>
        <p class="mb-0">Sigue asi!</p>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Warning-alert-modal" tabindex="-1" role="dialog" aria-labelledby="Sucess-alert-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Muy bien!</h4>
        <p>Has completado el cuestionario satisfactoriamente. Sigue esforandote!</p>
        <p id="notaWarning">Tu nota es: </p>
        <hr>
        <p class="mb-0">Sigue asi!</p>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Danger-alert-modal" tabindex="-1" role="dialog" aria-labelledby="Sucess-alert-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">No te desanimes!</h4>
        <p>Todos cometemos errores. Estudia duro y lograrás superarte!</p>
        <p id="notaDanger">Tu nota es: </p>
        <hr>
        <p class="mb-0">Sigue asi!
        </p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="scripts/clase.js" charset="utf-8"></script>

</body>

</html>
