<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/grid-gallery.css">
  <title></title>
</head>

<body>
  <div class="main">
      <div id="left" class="left">
        <section class="gallery-block grid-gallery">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12 item">
                      <a class="lightbox" href="../img/image1.jpg">
                          <img class="img-fluid image scale-on-hover" src="images/ninos/1.jpg">
                      </a>
                  </div>
                  <div class="col-lg-6 col-md-12 item">
                      <a class="lightbox" href="../img/image2.jpg">
                          <img class="img-fluid image scale-on-hover" src="images/ninos/2.jpg">
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-12 item">
                      <a class="lightbox" href="../img/image3.jpg">
                          <img class="img-fluid image scale-on-hover" src="images/ninos/3.jpg">
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-12 item">
                      <a class="lightbox" href="../img/image4.jpg">
                          <img class="img-fluid image scale-on-hover" src="images/ninos/4.jpg">
                      </a>
                  </div>
                  <div class="col-lg-4 col-md-12 item">
                      <a class="lightbox" href="../img/image5.jpg">
                          <img class="img-fluid image scale-on-hover" src="images/ninos/5.jpg">
                      </a>
                  </div>
                  <div class="col-lg-6 col-md-12 item">
                      <a class="lightbox" href="../img/image6.jpg">
                          <img class="img-fluid image scale-on-hover" src="images/ninos/6.jpg">
                      </a>
                  </div>
                  <div class="col-lg-6 col-md-12 item">
                      <a class="lightbox" href="../img/image7.jpg">
                          <img class="img-fluid image scale-on-hover" src="images/ninos/7.jpg">
                      </a>
                  </div>
                  <div class="col-lg-6 col-md-12 item">
                      <a class="lightbox" href="../img/image7.jpg">
                          <img class="img-fluid image scale-on-hover" src="images/ninos/8.jpg">
                      </a>
                  </div>
                  <div class="col-lg-6 col-md-12 item">
                      <a class="lightbox" href="../img/image7.jpg">
                          <img class="img-fluid image scale-on-hover" src="images/ninos/9.jpg">
                      </a>
                  </div>
              </div>
          </div>
      </section>
      </div>

      <div class="right">
        <form autocomplete="off" action="/horario" method="POST" class="form-signin ">
          <div class="one">
            <img class="logo" src="images/NinosConFuturoLogo.png" alt="" height="180">
          </div>
          <div class="two">
            <label for="inputEmail" class="sr-only">Usuario</label>
            <input type="text" id="inputEmail" class="mb-1 form-control" placeholder="Usuario" required>
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
          </div>
        </form>
      </div>

    </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="/scripts/login.js" charset="utf-8"></script>

  </script>
</body>

</html>
