<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://kit.fontawesome.com/46ca99fbcf.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/grid-gallery.css">
  <link rel="stylesheet" href="/css/login0.css">
  <title>Ingresar</title>
</head>

<body>
  <div class="main d-flex">
    <section id="left" class="left-section">
      <section class="gallery-block grid-gallery">
        <ul>
          <li>
            <img src="images/ninos/1.jpg" alt="">
          </li>
          <li>
            <img src="images/ninos/15.jpeg" alt="">
          </li>
          <li>
            <img src="images/ninos/12.jpeg" alt="">
          </li>
          <li>
            <img src="images/ninos/13.jpeg" alt="">
          </li>
          <li>
            <img src="images/ninos/14.jpeg" alt="">
          </li>
          <li>
            <img src="images/ninos/5.jpg" alt="">
          </li>
          <li>
            <img src="images/ninos/11.jpeg" alt="">
          </li>
          <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
          <li></li>
        </ul>
      </section>
    </section>
    <section class="right-section">
      <div class="container">
        <div class="row vh-100 align-items-center">
          <div class="col-5 text-right">
            <img class="logo" src="/images/NinosConFuturoLogo.png" alt="">
          </div>
          <div class="col-7 pt-5">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input autocomplete="off" type="email" id="inputEmail" class="form-control" placeholder="&#xf007; Usuario" required>
            <label for="inputPassword" class="sr-only">Password</label>
            <input autocomplete="off" type="password" id="inputPassword" class="form-control" placeholder="&#xf023; Contraseña" required>
            <div class="mt-2 mb-1">
              <small class="text-muted">Olvidé <span><a href="#">usuario/contraseña</a></span></small>
            </div>
            <button class="btn btn-primary" type="submit">Sign in</button>
          </div>
        </div>
    </section>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="scripts/login.js" charset="utf-8"></script>
</body>

</html>
