body {
  background-color: #ffda70;
}

.main{
  min-height: 40rem;
  margin-top: 2rem;
  width: 90%;
}

.title{
  padding-top: 30px;
  border-bottom: 1px solid #747978;
  color: #747978;
}

.menu-content{
  margin-top: 2rem;
}

.tab-content{
  margin: 2rem;
}

.list-group-item{
  background-color: inherit;
  border-top: none;
  padding-top: 20px;
}

.sidebar-title {
  color: #394796;
  text-align: right;
  margin: 2rem;
  border-bottom: 2px solid #394796;
}

.month {
  font-weight: bold;
  margin-bottom: 2rem;
  color: #394796;
}

.menu-bar {
  background-color: #ebf0f7;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 40rem;
}

.info{
    height: 40rem;
    background-color: #f7f7f7;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    overflow: scroll;
}

.contenido{
  width: 90%;
}
