html,
body {
  height: 100%;
  background-image: url("/images/lightbluepattern.png");
  background-size: 200px;
}

.col {
  border: 1px solid red;
}

input{
  padding: 10px 20px 5px 20px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}

.form-control{
  max-width: 250px;
  height: 45px;
}

.logo{
  height: 230px;
  width: auto;
}
