html,
body {
  height: 100vh;
  background-image: url("/images/lightbluepattern.png");
  background-size: 200px;
  font-family: Helvetica, FontAwesome, sans-serif;
}

.left-section {
  max-height: 100vh;
  overflow: hidden;
  flex: 1;
  transition: flex .3s;
}

.right-section {
  flex: 1.4;
}

input {
  padding: 10px 20px 5px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form-control {
  max-width: 250px;
  height: 45px;
}

.logo {
  height: 230px;
  width: auto;
}

.shrink{
  flex: 0.3;
  transition: flex .3s;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .left-section{
    flex: 0;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}
