html,
body {
  height: 100vh;
  background-image: url("/images/lightbluepattern.png");
  background-size: 200px;
  font-family: Helvetica, FontAwesome, sans-serif;
}

.left-section {
  max-height: 100vh;
  overflow: hidden;
  flex: 1;
  transition: flex .3s;
}

.right-section {
  flex: 1.4;
}

input {
  padding: 10px 20px 5px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form-control {
  max-width: 250px;
  height: 45px;
}

.logo {
  height: 230px;
  width: auto;
}

.shrink{
  flex: 0.3;
  transition: flex .3s;
}

.my-btn{
  background-color: #3f4caa;
  color: #eee;
  border: 1px solid #3f4caa;
}

.my-btn:hover{
  background-color: #eee;
  color: #3f4caa;
  box-shadow: 0px 0px 0px 3px rgba(63, 76, 170, 1);
}

a{
  color: #3f4caa;
}

a:hover{
  color: #3f4caa;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .left-section{
    flex: 0;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 768px) {
  body {
    background-color: olive;
  }
}
