  html, body {
    height: 100%;
    margin: 0;
    background-image: url("/images/lightbluepattern.png");
    background-size: 200px;
  }

  #wrapper {
    min-height: 100%;
  }

  .form-signin {
    display: flex;
    margin: auto 20rem auto 5rem;
    width: 100%;
    max-width: 600px;
    padding-right: 20px;
  }

  .one {
    flex: 1;
    margin: auto;
  }

  .two {
    flex: 1.5;
    margin: auto;
    padding-top: 30px;
  }

  .logo {
    margin: 50px;
  }

  .form-signin .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .btn-lg {
    max-width: 150px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
  }

  .main {
    display: flex;
    height: 100%;
  }

  .left {
    transition: flex .2s;
    display: flex;
    flex: 0.9;
    background-image: url("/images/corcho.png");
    background-size: 400px;
    overflow: scroll;
  }

  .shrink{
    transition: flex .25s;
    flex: 0.4;
  }

  .gallery{
    margin: auto;
  }

  .col-4{
    height: 50%;
  }

  .left img{
    display: flex;
    max-width: 100%;
    height: auto;
  }

  .right {
    flex: 1;
    margin: auto;
  }
