  html, body {
    height: 100%;
    margin: 0;
    background-image: url("/images/lightbluepattern.png");
    background-size: 200px;
  }

  .main {
    height: 100%;
    display: flex;
  }

  .left-section {
    flex: 0;
    height: 100%;
    margin: auto;
    border-right: 2px solid;
  }

  .right-section {
    flex: 2;
    height: 100%;
    margin: auto;
  }

  .login-form {
    padding-top: 30px;
  }

  .logo-div {
    text-align: right;
  }

  .logo {
    height: 200px;
    width: auto;
    margin-right: 10px;
  }

  .form-g {
    margin-bottom: 5px;
  }

  input {
    padding: 10px 20px 10px 20px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.7);
  }
